body {
    text-align: center;
    margin: 0;
    padding: 0;
}
.hero {
    background: #6943fe;
    padding: 30px;
    color: white;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    background: white;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    width: 117px;
    height: 42px;
    left: 217px;
    top: 209px;
    font-size: 15px; 
    font-weight: 500; 
}
input{
    width: 117px;
    height: 83px;
    left: 217px;
    top: 101px;
    text-align: center;
    font-size: 50px; 
    border: 3px solid #B295FF;
    border-radius: 5px;
    color: white;
    background: #6943fe;
    font-family:'Inter';
}
.main {
    background: #1F2937;
    padding: 20px;
}
.section{
    background: #273549;
    margin: 20px 0 40px 0; 
    padding: 5px;
    border-radius: 5px;
    color: #CCC1FF;

}
p {
    color: white;
}